li{
    float: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    background-color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
  }

  h1{
  color:blue;
  text-align: center; 
  }